<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    @Styles.Render("~/Content/Sitecss")

    <title></title>
    

    @Scripts.Render("~/bundles/modernizr")

    <style>
    #contact {
        background-image:url('/Images/testcontactw.png');
        
    }
    #contact:hover { background-image:url('/Images/testcontacto.png'); }
    </style>
</head>
<body>


    <form action=""></form>
    <div style="vertical-align:middle" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Continue As Guest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>

            

            <div stlye="vertical-align:middle" class="navbar-collapse collapse">  
                                
                <ul class="nav navbar-nav">
                    <li>                       

                        <a href='@Url.Action("Index", "Home")'>
                        <img width="75" height="75" src='@Url.Content("~/Images/detroiteatz_logo.png")' />
                        </a>

                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>

                        <a style="vertical-align:middle" href='@Url.Action("Index", "Home")'>
                            <img src='@Url.Content("~/Images/detextlogo-01.png")' />
                        </a>

                    </li>

                    <li>
                        <a href='@Url.Action("About", "Home")'>
                            <img src='@Url.Content("~/Images/aboutw-01-01.png")' />
                        </a>
                    </li>             
                    <li>
                        <a href='@Url.Action("ContactUs", "Home")'>
                            <img src='@Url.Content("~/Images/contactw.png")' />
                        </a>
                        </li>
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                  




                </ul>                
                @*@Html.Partial("_LoginPartial")*@
            </div>
            </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
