@using DetroitEatz.Models;
@using DetroitEatz.DAL;
@using Microsoft.AspNet.Identity;
@model IEnumerable<DetroitEatz.Models.Restaurant>
@section scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
<head accept="text/html">
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body class="body">
    <br />
    <br />
    <br />



    <div>
        <p>@ViewBag.userName</p>
        <p>@ViewBag.userID</p>
    </div>
    <!--Old Crap-->
    @*@if (Model != null)
            {
                int tblrow = 0;

                <div class="col-md-8">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PriceLevel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rating)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddressNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WebSite)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr id="@tblrow">
                                <td>Table Row: tblrow</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PriceLevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rating)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AddressNumber)
                                </td>
                                <td>
                                    @Html.ActionLink("Home", "Index", new { id = item.PlaceID })
                                    @@Ajax.ActionLink("Add To Favorites")
                            </td>
        <td a href="#">
            @Html.DisplayFor(modelItem => item.WebSite)
        </td>
                        </tr>
                        tblrow++;

                    }

                </table>
            </div>

        }*@





    <link rel="stylesheet" href="~/Content/map.css" />

    @*<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8zRwFNqp9g9Ca1uU2W6D4QQtOG00tPkY"></script>*@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,visualization&sensor=false"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap" async defer></script>*@
    @*<script language="javascript" type="text/javascript" src="~/Scripts/maps.js"></script>*@



   

        @*<script src="https://maps.googleapis.com/maps/api/js?libraries=places" type="text/javascript"></script>*@
        @*<div align="center" class="page-header">

        <h2>
           <img height="100" width="400" src="~/Images/detextlogo-01.png" />
        </h2>
    </div>*@




        <input id="pac-input" class="controls" type="text"
               placeholder="Enter a location, or name of place">
        <div id="type-selector" class="controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-restaurant">
            <label for="changetype-restaurant">Restaurants</label>

            <input type="radio" name="type" id="changetype-address">
            <label for="changetype-address">Addresses</label>

            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Geocodes</label>
        </div>



        <div id="map"></div>



        <div class="btn btn-success" id="toggle_traffic">Traffic</div>
        <div class="btn btn-danger" id="toggle_transit">Transit</div>
        <div class="btn btn-primary" id="toggle_bike">Biking</div>

        <!---Table for Favorites-->
        @if (User.Identity.IsAuthenticated)
        {
            <div align="left" class="col-md-4">
                <table class="table">
                    <tr>
                        <th>
                            Restaurant Name
                        </th>
                        <th>
                            Restaurant Address
                        </th>
                    </tr>
                    @if (ViewBag.Favorites != null)
                    {
                        List<Favorite> favList = new List<Favorite>();
                        foreach (Favorite f in ViewBag.Favorites)
                        {

                            favList.Add(f);
                        }
                        for (int i = 0; i < favList.Count; i++)
                        {





                            <tr>
                                <td>Row: @i</td>
                                <td>
                                    @favList[i].RestaurantName
                                </td>
                                <td>
                                    @favList[i].PlaceID
                                </td>
                                <td>
                                    <button id="@i" class="btn btn-warning" onclick="RemoveFromFavorites()">
                                        Remove From Favorites
                                    </button>
                                </td>
                            </tr>

                        }
                    }
                </table>



            </div>
        }



        <!--Table for Data-->
        <table id="tbl" class="table"></table>
</body>
<script language="JavaScript" type="text/javascript">

    //Handles the search box input
    function startSearch() {
        var input = (document.getElementById('pac-input'));

        infowindow.open();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
        }
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        }
        else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
        }
        marker.setIcon(
            {
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            });
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        completeSearch(place)

    }

    function completeSearch(place) {
        $.getJSON("api/GetRestaurants/" + place)
            .done(function (data) { fillArray(data) })

    }

    //Calls api controller to return data
    $(document).ready(function () {


        $.getJSON('api/GetRestaurants/detroit')
            .done(function (data) { fillArray(data) })

        var input = (document.getElementById('pac-input'));
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        autocomplete.addListener('place_changed', function (place) { startSearch() });

    });

    //Uses data from api controller to fill table
    function fillArray(data) {

        var k = 0;
        var lon = 0;
        var lat = 0;
        navigator.geolocation.getCurrentPosition(function (pos) {
            lat = pos.coords.latitude;
            lon = pos.coords.longitude;
        });
        var myLatLng = new google.maps.LatLng(data[0].Lat, data[0].Lon);
        var map =
        {
            //getting current locations using coordinates
            //center: new google.maps.LatLng(lat,lon),
            center: myLatLng,
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map'), map);
        var infowindow = new google.maps.InfoWindow({
            map: map,
            maxWidth: 350
        });

        //Markers on map
        while (k < data.length) {
            var myLatLng = new google.maps.LatLng(data[k].Lat, data[k].Lon);

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: '/Images/iconmap.png',
                animation: google.maps.Animation.DROP
            });


            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });


            k++;


        }

        k = 0;

        //Fills in table data
        document.getElementById("tbl").innerHTML =
            '<tr>' +
            '<th>Restaurant Name</th>' +
            '<th>Address</th>' +
            '<th>PhoneNumber</th>' +
            '<th>PriceLevel</th>' +
            '<th>Rating</th>' +
            '<th>Website</th>' +
            '</tr>'

        while (k < data.length) {

            document.getElementById("tbl").innerHTML +=
            '<tr>'

            + '<td id="' + k + 'id" style="display:none">' + data[k].PlaceID + '</td>'
            + '<td id="' + k + 'n">' + data[k].Name + '</td>'
            + '<td id="' + k + 'a">' + data[k].AddressNumber + '</td>'
            + '<td id="' + k + 'pn">' + data[k].PhoneNumber + '</td>'
            + '<td id="' + k + 'pl">' + data[k].PriceLevel + '</td>'
            + '<td id="' + k + 'r">' + data[k].Rating + '</td>'
            + '<td id="' + k + 'w">' + '<a href="' + data[k].WebSite + '">' + data[k].WebSite + '</td>'
            + '<td>' + '<button id= "' + k + 'rem" class="btn btn-success"> Add to Favorites </button> </td>'
            + '</tr>';

            k++;


        }



    }



    //Functions for Map Buttons

    //trafficLayer
    var trafficLayer = new google.maps.TrafficLayer();
    $('#toggle_traffic').click(function () {
        if (trafficLayer.getMap()) {
            trafficLayer.setMap(null);
        }
        else {
            trafficLayer.setMap(map);
        }
    });

    //transitLayer
    var transitLayer = new google.maps.TransitLayer();
    $('#toggle_transit').click(function () {
        if (transitLayer.getMap()) {
            transitLayer.setMap(null);
        }
        else {
            transitLayer.setMap(map);
        }
    });

    //bikeLayer
    var bikeLayer = new google.maps.BicyclingLayer();
    $('#toggle_bike').click(function () {
        if (bikeLayer.getMap()) {
            bikeLayer.setMap(null);
        }
        else {
            bikeLayer.setMap(map);
        }
    });




</script>

